.title {
    height: 310px;
    background-image: url(../images/pig-bones/bg_main.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 1px 1px 10px #4b2c14;
}

.title h1 {
    font-family: 'BIZ UDPGothic', serif;
    font-size: 32pt;
    font-weight: bold;
}

.title p {
    font-size: 14px;
    margin-top: 15px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.footer {
    margin-top: 100px;
}
